schemas/ixml.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:d2x="http://www.blackmesatech.com/2014/lib/d2x"
             xmlns:follow="http://blackmesatech.com/2016/nss/ixml-gluschkov-automata-followset"
             xmlns:gl="http://blackmesatech.com/2019/iXML/Gluschkov"
             xmlns:gt="http://blackmesatech.com/2020/grammartools"
             xmlns:rng="http://relaxng.org/ns/structure/1.0"
             xmlns:rtn="http://blackmesatech.com/2020/iXML/recursive-transition-networks"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <rng:start>
      <rng:ref name="ixml"/>
   </rng:start>
   <rng:define name="ixml">
      <rng:ref name="e.ixml"/>
   </rng:define>
   <rng:define name="e.ixml">
      <rng:element name="ixml">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="s"/>
               <rng:optional>
                  <rng:ref name="prolog"/>
               </rng:optional>
               <rng:group>
                  <rng:ref name="rule"/>
                  <rng:zeroOrMore>
                     <rng:ref name="RS"/>
                     <rng:ref name="rule"/>
                  </rng:zeroOrMore>
               </rng:group>
               <rng:ref name="s"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="s">
      <rng:ref name="h.s"/>
   </rng:define>
   <rng:define name="h.s">
      <rng:group>
         <rng:zeroOrMore>
            <rng:choice>
               <rng:group>
                  <rng:ref name="whitespace"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="comment"/>
               </rng:group>
            </rng:choice>
         </rng:zeroOrMore>
      </rng:group>
   </rng:define>
   <rng:define name="RS">
      <rng:ref name="h.RS"/>
   </rng:define>
   <rng:define name="h.RS">
      <rng:group>
         <rng:oneOrMore>
            <rng:choice>
               <rng:group>
                  <rng:ref name="whitespace"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="comment"/>
               </rng:group>
            </rng:choice>
         </rng:oneOrMore>
      </rng:group>
   </rng:define>
   <rng:define name="whitespace">
      <rng:ref name="h.whitespace"/>
   </rng:define>
   <rng:define name="h.whitespace">
      <rng:choice><!-- alt with no realized children -->
         <rng:empty/>
         <rng:group>
            <rng:ref name="tab"/>
         </rng:group>
         <rng:group>
            <rng:ref name="lf"/>
         </rng:group>
         <rng:group>
            <rng:ref name="cr"/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="tab">
      <rng:ref name="h.tab"/>
   </rng:define>
   <rng:define name="h.tab"><!-- alt with no realized children -->
      <rng:empty/>
   </rng:define>
   <rng:define name="lf">
      <rng:ref name="h.lf"/>
   </rng:define>
   <rng:define name="h.lf"><!-- alt with no realized children -->
      <rng:empty/>
   </rng:define>
   <rng:define name="cr">
      <rng:ref name="h.cr"/>
   </rng:define>
   <rng:define name="h.cr"><!-- alt with no realized children -->
      <rng:empty/>
   </rng:define>
   <rng:define name="comment">
      <rng:ref name="e.comment"/>
   </rng:define>
   <rng:define name="e.comment">
      <rng:element name="comment">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:zeroOrMore>
                  <rng:choice>
                     <rng:group>
                        <rng:ref name="cchar"/>
                     </rng:group>
                     <rng:group>
                        <rng:ref name="comment"/>
                     </rng:group>
                  </rng:choice>
               </rng:zeroOrMore>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="cchar">
      <rng:ref name="h.cchar"/>
   </rng:define>
   <rng:define name="h.cchar">
      <rng:group><!-- can a data element be used? -->
         <rng:text/>
      </rng:group>
   </rng:define>
   <rng:define name="prolog">
      <rng:ref name="e.prolog"/>
   </rng:define>
   <rng:define name="e.prolog">
      <rng:element name="prolog">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="version"/>
               <rng:ref name="s"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="version">
      <rng:ref name="e.version"/>
   </rng:define>
   <rng:define name="e.version">
      <rng:element name="version">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="RS"/>
               <rng:ref name="RS"/>
               <rng:ref name="string"/>
               <rng:ref name="s"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="rule">
      <rng:ref name="e.rule"/>
   </rng:define>
   <rng:define name="e.rule">
      <rng:element name="rule">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:optional>
                  <rng:group>
                     <rng:ref name="mark"/>
                     <rng:ref name="s"/>
                  </rng:group>
               </rng:optional>
               <rng:ref name="name"/>
               <rng:ref name="s"/>
               <rng:ref name="s"/>
               <rng:ref name="h.alts"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="mark">
      <rng:ref name="a.mark"/>
   </rng:define>
   <rng:define name="a.mark">
      <rng:attribute name="mark"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="alts">
      <rng:ref name="e.alts"/>
   </rng:define>
   <rng:define name="e.alts">
      <rng:element name="alts">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:group>
                  <rng:ref name="alt"/>
                  <rng:zeroOrMore>
                     <rng:group>
                        <rng:ref name="s"/>
                     </rng:group>
                     <rng:ref name="alt"/>
                  </rng:zeroOrMore>
               </rng:group>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="h.alts">
      <rng:group>
         <rng:group>
            <rng:ref name="alt"/>
            <rng:zeroOrMore>
               <rng:group>
                  <rng:ref name="s"/>
               </rng:group>
               <rng:ref name="alt"/>
            </rng:zeroOrMore>
         </rng:group>
      </rng:group>
   </rng:define>
   <rng:define name="alt">
      <rng:ref name="e.alt"/>
   </rng:define>
   <rng:define name="e.alt">
      <rng:element name="alt">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:optional>
                  <rng:ref name="term"/>
                  <rng:zeroOrMore>
                     <rng:group>
                        <rng:ref name="s"/>
                     </rng:group>
                     <rng:ref name="term"/>
                  </rng:zeroOrMore>
               </rng:optional>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="term">
      <rng:ref name="h.term"/>
   </rng:define>
   <rng:define name="h.term">
      <rng:choice>
         <rng:group>
            <rng:ref name="factor"/>
         </rng:group>
         <rng:group>
            <rng:ref name="option"/>
         </rng:group>
         <rng:group>
            <rng:ref name="repeat0"/>
         </rng:group>
         <rng:group>
            <rng:ref name="repeat1"/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="factor">
      <rng:ref name="h.factor"/>
   </rng:define>
   <rng:define name="h.factor">
      <rng:choice>
         <rng:group>
            <rng:ref name="terminal"/>
         </rng:group>
         <rng:group>
            <rng:ref name="nonterminal"/>
         </rng:group>
         <rng:group>
            <rng:ref name="insertion"/>
         </rng:group>
         <rng:group>
            <rng:ref name="s"/>
            <rng:ref name="alts"/>
            <rng:ref name="s"/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="repeat0">
      <rng:ref name="e.repeat0"/>
   </rng:define>
   <rng:define name="e.repeat0">
      <rng:element name="repeat0">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="factor"/>
               <rng:choice>
                  <rng:group>
                     <rng:ref name="s"/>
                  </rng:group>
                  <rng:group>
                     <rng:ref name="s"/>
                     <rng:ref name="sep"/>
                  </rng:group>
               </rng:choice>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="repeat1">
      <rng:ref name="e.repeat1"/>
   </rng:define>
   <rng:define name="e.repeat1">
      <rng:element name="repeat1">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="factor"/>
               <rng:choice>
                  <rng:group>
                     <rng:ref name="s"/>
                  </rng:group>
                  <rng:group>
                     <rng:ref name="s"/>
                     <rng:ref name="sep"/>
                  </rng:group>
               </rng:choice>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="option">
      <rng:ref name="e.option"/>
   </rng:define>
   <rng:define name="e.option">
      <rng:element name="option">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="factor"/>
               <rng:ref name="s"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="sep">
      <rng:ref name="e.sep"/>
   </rng:define>
   <rng:define name="e.sep">
      <rng:element name="sep">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="factor"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="nonterminal">
      <rng:ref name="e.nonterminal"/>
   </rng:define>
   <rng:define name="e.nonterminal">
      <rng:element name="nonterminal">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:optional>
                  <rng:group>
                     <rng:ref name="mark"/>
                     <rng:ref name="s"/>
                  </rng:group>
               </rng:optional>
               <rng:ref name="name"/>
               <rng:ref name="s"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="name">
      <rng:ref name="a.name"/>
   </rng:define>
   <rng:define name="a.name">
      <rng:attribute name="name"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="namestart">
      <rng:ref name="h.namestart"/>
   </rng:define>
   <rng:define name="h.namestart">
      <rng:group><!-- can a data element be used? -->
         <rng:text/>
      </rng:group>
   </rng:define>
   <rng:define name="namefollower">
      <rng:ref name="h.namefollower"/>
   </rng:define>
   <rng:define name="h.namefollower">
      <rng:choice>
         <rng:group>
            <rng:ref name="namestart"/>
         </rng:group>
         <rng:group><!-- can a data element be used? -->
            <rng:text/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="terminal">
      <rng:ref name="h.terminal"/>
   </rng:define>
   <rng:define name="h.terminal">
      <rng:choice>
         <rng:group>
            <rng:ref name="literal"/>
         </rng:group>
         <rng:group>
            <rng:ref name="charset"/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="literal">
      <rng:ref name="e.literal"/>
   </rng:define>
   <rng:define name="e.literal">
      <rng:element name="literal">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:choice>
               <rng:group>
                  <rng:ref name="quoted"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="encoded"/>
               </rng:group>
            </rng:choice>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="quoted">
      <rng:ref name="h.quoted"/>
   </rng:define>
   <rng:define name="h.quoted">
      <rng:group>
         <rng:optional>
            <rng:group>
               <rng:ref name="tmark"/>
               <rng:ref name="s"/>
            </rng:group>
         </rng:optional>
         <rng:ref name="string"/>
         <rng:ref name="s"/>
      </rng:group>
   </rng:define>
   <rng:define name="tmark">
      <rng:ref name="a.tmark"/>
   </rng:define>
   <rng:define name="a.tmark">
      <rng:attribute name="tmark"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="string">
      <rng:ref name="a.string"/>
   </rng:define>
   <rng:define name="a.string">
      <rng:attribute name="string"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="dchar">
      <rng:ref name="e.dchar"/>
   </rng:define>
   <rng:define name="e.dchar">
      <rng:element name="dchar">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:choice>
               <rng:group><!-- can a data element be used? -->
                  <rng:text/>
               </rng:group>
               <rng:group><!-- can a data element be used? -->
                  <rng:text/>
               </rng:group>
            </rng:choice>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="schar">
      <rng:ref name="e.schar"/>
   </rng:define>
   <rng:define name="e.schar">
      <rng:element name="schar">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:choice>
               <rng:group><!-- can a data element be used? -->
                  <rng:text/>
               </rng:group>
               <rng:group><!-- can a data element be used? -->
                  <rng:text/>
               </rng:group>
            </rng:choice>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="encoded">
      <rng:ref name="h.encoded"/>
   </rng:define>
   <rng:define name="h.encoded">
      <rng:group>
         <rng:optional>
            <rng:group>
               <rng:ref name="tmark"/>
               <rng:ref name="s"/>
            </rng:group>
         </rng:optional>
         <rng:ref name="hex"/>
         <rng:ref name="s"/>
      </rng:group>
   </rng:define>
   <rng:define name="hex">
      <rng:ref name="a.hex"/>
   </rng:define>
   <rng:define name="a.hex">
      <rng:attribute name="hex"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="charset">
      <rng:ref name="h.charset"/>
   </rng:define>
   <rng:define name="h.charset">
      <rng:choice>
         <rng:group>
            <rng:ref name="inclusion"/>
         </rng:group>
         <rng:group>
            <rng:ref name="exclusion"/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="inclusion">
      <rng:ref name="e.inclusion"/>
   </rng:define>
   <rng:define name="e.inclusion">
      <rng:element name="inclusion">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:optional>
                  <rng:group>
                     <rng:ref name="tmark"/>
                     <rng:ref name="s"/>
                  </rng:group>
               </rng:optional>
               <rng:ref name="set"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="exclusion">
      <rng:ref name="e.exclusion"/>
   </rng:define>
   <rng:define name="e.exclusion">
      <rng:element name="exclusion">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:optional>
                  <rng:group>
                     <rng:ref name="tmark"/>
                     <rng:ref name="s"/>
                  </rng:group>
               </rng:optional>
               <rng:ref name="s"/>
               <rng:ref name="set"/>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="set">
      <rng:ref name="h.set"/>
   </rng:define>
   <rng:define name="h.set">
      <rng:group>
         <rng:ref name="s"/>
         <rng:optional>
            <rng:group>
               <rng:ref name="member"/>
               <rng:ref name="s"/>
            </rng:group>
            <rng:zeroOrMore>
               <rng:group>
                  <rng:ref name="s"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="member"/>
                  <rng:ref name="s"/>
               </rng:group>
            </rng:zeroOrMore>
         </rng:optional>
         <rng:ref name="s"/>
      </rng:group>
   </rng:define>
   <rng:define name="member">
      <rng:ref name="e.member"/>
   </rng:define>
   <rng:define name="e.member">
      <rng:element name="member">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:choice>
               <rng:group>
                  <rng:ref name="string"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="hex"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="range"/>
               </rng:group>
               <rng:group>
                  <rng:ref name="class"/>
               </rng:group>
            </rng:choice>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="range">
      <rng:ref name="h.range"/>
   </rng:define>
   <rng:define name="h.range">
      <rng:group>
         <rng:ref name="from"/>
         <rng:ref name="s"/>
         <rng:ref name="s"/>
         <rng:ref name="to"/>
      </rng:group>
   </rng:define>
   <rng:define name="from">
      <rng:ref name="a.from"/>
   </rng:define>
   <rng:define name="a.from">
      <rng:attribute name="from"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="to">
      <rng:ref name="a.to"/>
   </rng:define>
   <rng:define name="a.to">
      <rng:attribute name="to"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="character">
      <rng:ref name="h.character"/>
   </rng:define>
   <rng:define name="h.character">
      <rng:choice>
         <rng:group>
            <rng:ref name="dchar"/>
         </rng:group>
         <rng:group>
            <rng:ref name="schar"/>
         </rng:group>
         <rng:group><!-- can a data element be used? -->
            <rng:text/>
            <rng:ref name="hex"/>
         </rng:group>
      </rng:choice>
   </rng:define>
   <rng:define name="class">
      <rng:ref name="h.class"/>
   </rng:define>
   <rng:define name="h.class">
      <rng:group>
         <rng:ref name="code"/>
      </rng:group>
   </rng:define>
   <rng:define name="code">
      <rng:ref name="a.code"/>
   </rng:define>
   <rng:define name="a.code">
      <rng:attribute name="code"><!-- No annotations found, falling back to 'text'. -->
         <rng:text/>
      </rng:attribute>
   </rng:define>
   <rng:define name="capital">
      <rng:ref name="h.capital"/>
   </rng:define>
   <rng:define name="h.capital">
      <rng:group><!-- can a data element be used? -->
         <rng:text/>
      </rng:group>
   </rng:define>
   <rng:define name="letter">
      <rng:ref name="h.letter"/>
   </rng:define>
   <rng:define name="h.letter">
      <rng:group><!-- can a data element be used? -->
         <rng:text/>
      </rng:group>
   </rng:define>
   <rng:define name="insertion">
      <rng:ref name="e.insertion"/>
   </rng:define>
   <rng:define name="e.insertion">
      <rng:element name="insertion">
         <rng:ref name="extension-attributes"/>
         <rng:interleave>
            <rng:ref name="extension-elements"/>
            <rng:group>
               <rng:ref name="s"/>
               <rng:choice>
                  <rng:group>
                     <rng:ref name="string"/>
                  </rng:group>
                  <rng:group>
                     <rng:ref name="hex"/>
                  </rng:group>
               </rng:choice>
            </rng:group>
         </rng:interleave>
      </rng:element>
   </rng:define>
   <rng:define name="extension-attributes">
      <rng:zeroOrMore>
         <rng:ref name="nsq-att"/>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="nsq-att">
      <rng:attribute>
         <rng:anyName>
            <rng:except>
               <rng:nsName ns=""/>
            </rng:except>
         </rng:anyName>
      </rng:attribute>
   </rng:define>
   <rng:define name="extension-elements">
      <rng:zeroOrMore>
         <rng:ref name="nsq-element"/>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="nsq-element">
      <rng:element>
         <rng:anyName>
            <rng:except>
               <rng:nsName ns=""/>
            </rng:except>
         </rng:anyName>
         <rng:ref name="anything"/>
      </rng:element>
   </rng:define>
   <rng:define name="anything">
      <rng:zeroOrMore>
         <rng:choice>
            <rng:ref name="any-element"/>
            <rng:ref name="any-attribute"/>
            <rng:text/>
         </rng:choice>
      </rng:zeroOrMore>
   </rng:define>
   <rng:define name="any-element">
      <rng:element>
         <rng:anyName/>
         <rng:ref name="anything"/>
      </rng:element>
   </rng:define>
   <rng:define name="any-attribute">
      <rng:attribute>
         <rng:anyName/>
      </rng:attribute>
   </rng:define>
</rng:grammar>
